/*Fonts*/
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  src: local('Manrope'), url(./fonts/Manrope-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Orchidea Pro';
  font-weight: 500;
  src: local('Orchidea Pro'),
       url(./fonts/OrchideaPro-Medium.woff) format('woff'),
       url(./fonts/OrchideaPro-Medium.woff2) format('woff2');
}

/*Variables*/
:root {
  --primary-color: #141414;
  --white-color: #FFFFFF;
}

/*Styles*/
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Orchidea Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(24px, 3vw, 48px);
  line-height: 130%;
  text-transform: uppercase;
  margin: 0 20px 56px 20px;
  color: var(--primary-color);

  @media screen and (min-width: 500px) and (max-width: 1280px) {
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    margin: 0 0 0 260px;
  }
}

@media screen and (min-width: 500px) {
  br {
    display: none;
  }
}